/* KUTOA stylesheet */

/* GLOBAL STYLES */

.clearfix {
  overflow: auto;
}

.col-sm {
  width: 33%;
}

.col-lg {
  width: 66%;
}


body {
  margin: 0;
  padding: 0;
}



/* HEADER STYLES */

div.image {
  background-image: url(../images/home/slideshow_2.jpg);
}

header {
  width: 1333px;
  height: 625px;
  padding: 20px 40px;
}

header a img {
  width: 300px;
  height: auto;
  float: left;
  padding-left: 30px;
}

ul.menu {
/*  background-color: black;*/
  padding-left: 40%;
}

ul.menu li {
/*  background-color: black;*/
  list-style: none;
  font-size: 1.5em;
  color: white;
  font-family: "Just Another Hand", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 1%;
}

ul.menu li a {
/*  background-color: black;*/
  text-decoration: none;
  font-size: 1em;
  color: white;
  font-family: "Just Another Hand", sans-serif;
}

ul.menu li a:hover {
  color: rgb(235,117,65);
  text-decoration: 5px solid rgb(235,225,195);
}

ul.menu li span i {
  color: white;
  font-size: 0.5em;
}

ul.menu li i {
  color: white;
  font-size: 0.8em;
}

ul.menu li.cart {  
  background-color: rgb(235,225,195);
  border-radius: 5px;
  padding: 3px 10px;
}

ul.menu li.cart span {
  color: rgb(48,48,48);
  padding: 0 10px;
}

ul.menu li.cart i {
  color: rgb(48,48,48);
  padding: 0 5px;
}

.dropdown ul {
/*  background-color: black;*/
  display: none;
  min-width: 200px;
/*  position: absolute;*/
  text-align: right;
  z-index: 1000;
}

.dropdown ul li {
/*  background-color: black;*/
  list-style: none;
  font-size: 1.1em;
  color: white;
  font-family: "Just Another Hand", sans-serif;
  display: inline-block;
}

.dropdown ul li a {
/*  background-color: black;*/
  text-decoration: none;
  font-size: 1em;
  color: white;
  font-family: "Just Another Hand", sans-serif;
}

#slider ul li {
  list-style: none;
}

#slider div.caption {
  padding-top: 150px;
}

#slider h1, p {
  color: #ffffff;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

#slider h1 {
  font-size: 48px;  
  line-height: 50px;
  margin-bottom: 15px;
}

#slider p {
  font-size: 31px;
  line-height: 46px;
  margin-bottom: 20px;  
}
/*

#slider.container button {
  background-color: rgb(235,117,65);
  padding: 10px 15px;
  border: 2px solid white;
}
*/

#slider a.shop {
  color: #ffffff;
  font-family: "Just Another Hand", sans-serif;
  text-transform: uppercase;
  background-color: rgb(235,117,65);
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 3px;
  text-decoration: none;
  font-size: 20px;
}


/* INDEX.HTML */

.container {
  margin: 0;
  padding: 0;
  border: 0;
}


.banner {
  width: 100%;
  background-color: rgb(237,233,221);
}

.banner div.container {
  margin: 0 250px;
}

.banner img {
  padding: 30px 0;
  margin: 0 auto;
}


.products h2 {
  text-transform: uppercase;
  
}

.features ul {
  display: inline-block;
  margin-left: 2%;
}

.features ul li {
  list-style: none;
  display: inline-block;
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}


.features ul li a img {
  width: 370px;
  height: auto;
  padding-right: 10%;
}

.features ul li a img.last {
  width: 370px;
  height: auto;
  padding-right: 0;
}


#floating-button {
  position:fixed; 
  right:0; 
  top:45%;
  padding: 10px;
  background-color: rgb(235,117,65);
  color: #ffffff;
  opacity: .7;
  height: 20px;
  width: 80px;
  z-index: 999;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  
}

#reviews {
/*
  position:fixed; 
  right:0; 
  top:50%;
  background-color: rgb(235,117,65);
*/
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}







@media only screen and (max-width: 550px) {
    .column-1, 
    .column-2, 
    .column-3, 
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        width: auto;
        float: none;
    }

    .column + .column {
        margin-left: 0;
    }
}