    <div class="white-header">
    <header class="all-pages">
      <div class="container col-sm-white">
        <a ui-sref="main">
          <img src="../images/home/logo.png" title="KUTOA" />
        </a>
      </div>
      <div class="col-lg-white">
        <ul class="menu-white">
          <li>Shop
            <a href="shop.html" title="shop" title="Shop" class="sub-menu">
              <span class="arrow">
                <i class="fa fa-caret-down"></i>
              </span>
            </a>
            
            <div class="dropdown">
              <ul>
                <li>
                  <a href="#">Health Bars</a>
                </li>
                <li>
                  <a class="sub-link" href="product.html">Chocolate Banana</a>
                </li>
                <li>
                  <a class="sub-link" href="#">Peanut Butter &amp; Jelly</a>
                </li>
                <li>
                  <a class="sub-link" href="#">Blueberry Almond</a>
                </li>
                <li>
                  <a class="sub-link" href="#">Cherry Cashew</a>
                </li>
                <li>
                  <a class="sub-link" href="#">Chocolate Espresso Bean</a>
                </li>
                <li>
                  <a href="#">Gift Cards</a>
                </li>
                <li>
                  <a href="#">Store Locator</a>
                </li>
              </ul>
            </div>
          </li>
          
          <li>
            <a ui-sref="main.cause" title="Our Cause">Our Cause</a>
          </li>
          <li>
            <a ui-sref="main.story" title="Our Story">Our Story</a>
          </li>
          <li>
              <a ui-sref="main.blog" alt="Blog">Blog</a>
          </li>
          <li>
            <a href="https://twitter.com/kutoabars" alt="KUTOA on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/KUTOAbars" alt="KUTOA on Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/KUTOAbars/" alt="KUTOA on Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="mailto:empower@kutoa.com" title="Email KUTOA">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
          <li>
            <a ui-sref="main.auth" alt="My Account">
              <i class="fa fa-user"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-search" title="Search"></i>
            </a>
          </li>
          <li class="cart">
            <a ui-sref="main.cart">
              <i class="fa fa-shopping-cart"></i>
              <span>Cart</span>
            </a>            
          </li>
        </ul>
      </div>
    </header>
  </div>